@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Roboto&display=swap');

.main {
  height: auto;
}

.footer {
  height: 30px;
  background-color: #1e1e1e;
  border-radius: 0 0 10px 10px;
}

.header {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 5px;
  background-color: #1e1e1e;
  border-radius: 10px 10px 0 0;
}

.header__icon {
  width: 10px;
  height: 10px;
  margin-left: 5px;
  border-radius: 50%;
}

.header__icon--red {
  background: #ff5f57;
}

.header__icon--yellow {
  background: #ffbc2e;
}

.header__icon--green {
  background: #27c840;
}

.xterm .xterm-screen canvas {
  left: 20px;
}