<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shellfie 📸</title>
</head>

<body>
    <div class="main">
        <div class="header">
            <span class="header__icon header__icon--red"></span>
            <span class="header__icon header__icon--yellow"></span>
            <span class="header__icon header__icon--green"></span>
        </div>
        <div id="terminal"></div>
        <div class="footer"></div>
    </div>
</body>

</html>